* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.page1 {
  min-height: 87vh;
  width: 100%;
  position: relative;
  padding: 0 5vw;
}

.nav {
  height: 8vh;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
}

.nav-part1 {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 1vw;
  font-weight: 600;
}

.nav-part1 img {
  width: 2vw;
  height: auto;
}

.nav-part2 {
  display: flex;
  align-items: center;
  gap: 5vw;
}

.nav-part2 h6 {
  font-size: 1vw;
  font-weight: 600;
}

.nav-part3 {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.nav-part3 h6 {
  font-size: 1vw;
  font-weight: 600;
}

.nav-part3 button {
  font-size: 0.9vw;
  font-weight: 600;
  padding: 1vh 1vw;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
}

.page1 h1 {
  font-size: 5vw;
  font-weight: 400;
  margin-top: 8vh;
  width: 65%;
}

.container {
  display: flex;
  margin-left: 60.5%;
  margin-bottom: 2%;
  width: 38%;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
  background-color: #fff;
}

.star-image {
  width: 16vh; /* Adjust the size as needed */
  height: auto;
}

.text-column {
  display: flex;
  font-size: 1.4vw;
  font-weight: 600;
  flex-direction: column;
  gap: 1.5vh;
  margin: 0 0vh; /* Adjust the spacing as needed */
}

#text-clm2 {
  margin-top: -4.5vh;
}

.illustration-div {
  display: flex;
  gap: 2vw;
}

.illustration-div img {
  width: 63vw;
  height: auto;
  border-radius: 35px;
}

.illustration-div .girl {
  width: calc(100% - 65vw);
  height: auto;
  border-radius: 35px;
  background-color: #9ffb77;
  overflow: hidden;
}

.girl img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page2 {
  min-height: 50vh;
  width: 100%;
  position: relative;
  padding: 0 5vw;
}

.page2 h2 {
  font-size: 3vw;
  font-weight: 500;
  margin-top: 8vh;
  width: 45%;
  line-height: 9vh;
}

.review {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 20%;
  /* background-color: aqua; */
  justify-content: space-between;
  margin-top: 2%;
}

.review-p1 {
  display: flex;
  gap: 0.5vw;
}

.profile-div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-1 {
  transform: scale(1.1);
  background-color: #ffdae9;
}

.img-2 {
  transform: scale(1.2);
  background-color: #9ffb77;
}

.img-3 {
  background-color: skyblue;
}

.review-p2 {
  display: flex;
  align-items: center;
  font-size: 2vw;
  font-weight: 700;
}

.review-p3 {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 44%;
}

.review-p3 p {
  font-size: 1.1vw;
  font-weight: 600;
}

.review-p3 h6 {
  font-size: 0.9vw;
}

@media (max-width: 700px) {
  .page1 {
    padding: 1vh 4.5vw;
  }
  .nav-part1 p {
    display: none;
  }
  .nav-part1 img {
    width: 9vw;
  }
  .nav-part2 {
    display: none;
  }
  .nav-part3 {
    gap: 5vw;
  }
  .nav-part3 h6 {
    font-size: 3vw;
    font-weight: 700;
  }
  .nav-part3 button {
    font-size: 2.3vw;
    font-weight: 500;
    padding: 2.2vw 5vw;
  }
  .page1 h1 {
    font-size: 10vw;
    font-weight: 500;
    margin-top: 3vh;
    width: 100%;
  }
  .container {
    margin-top: 1vh;
    margin-left: 5%;
    width: 85%;
    padding: 2vh;
    gap: 3vw;
  }
  .star-image {
    width: 8vh;
  }
  .text-column {
    font-weight: 700;
    font-size: 3.4vw;
    gap: 0.5vh;
  }
  #text-clm2 {
    margin-top: -0vh;
  }
  .illustration-div img {
    width: 100%;
  }
  .girl {
    display: none;
  }
  .page2 h2 {
    font-size: 8vw;
    font-weight: 500;
    margin-top: -21vh;
    width: 94%;
    line-height: 5vh;
  }
  .review {
    flex-direction: column-reverse;
    width: auto;
    margin-top: 2vh;
  }
  .review-p3 {
    margin-bottom: 1vh;
    gap: 1vh;
    width: auto;
  }
  .review-p3 p {
    font-size: 6vw;
    font-weight: 500;
  }
  .review-p3 h6 {
    font-size: 4vw;
  }
  .profile-div {
    width: 50px;
    height: 50px;
  }
  .review-p1 {
    gap: 2vw;
  }
}
